.cinzel-decorative-regular {
  font-family: "Cinzel Decorative", serif;
  font-weight: 400;
  font-style: normal;
}

.cinzel-decorative-bold {
  font-family: "Cinzel Decorative", serif;
  font-weight: 700;
  font-style: normal;
}

.cinzel-decorative-black {
  font-family: "Cinzel Decorative", serif;
  font-weight: 900;
  font-style: normal;
}

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html{
    font-size: 62.2%;
}
.top-nav{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 16px 10px;
}

.logo{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.logo> h1{
    font-size: 2.7rem;
    padding-left: 2px;
}
.del-add{
     display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 4px;
    
}
.del-add >.current{
    font-size: 1.8rem;
    
    font-weight: 400;
}
.del-add>but{
    font-size: 1.8rem;
    font-weight: 700px;
}
.header{
    background-image:url(/assets/images/67024c56ad42b6be9069aba3dcabc05b4b387176\ \(1\).png);
    height: 620px;
    display: flex;
    max-width: 1920px;

}
.left-sec{
    padding: 152px 60px 0px ;
    
   
}
.left-sec > .star-heading > h1{
    font-size: 7.8rem;
    color: #FFFFFF;
}
.left-sec > .star-heading >p{
    font-size: 2.2rem;
    font-weight: 400;
    color: #504F4F;
}


 .order-card {
    background-color: #FFFFFF;
    margin-top: 20px;
    border-radius: 8px;
    
}
.order-card> .top{
    display: flex;
    padding: 24px;
    gap: 8px;
    
}
.top > .tab1{
    background-color: #F172281A;
    padding: 10px 24px;
}
.top > .tab1 h1{
    color: #F17228;
    font-size: 1.5rem;
}
.top > .tab2{
    padding: 10px 24px;
}
.top > .tab2 h1{
    color: #757575;
    font-size: 1.5rem;
}
.bottom {
    display: flex;
    padding: 24px;
    gap: 20px;
}
.bottom > .text input{
    padding: 10px 100px ;
    background-color: #F5F5F5;
    font-size: 1.8rem;
    font-weight: 400;
    border-radius: 8px;
    border: none;
}
.bottom > .but> button{
    padding: 14px 48px;
  background: linear-gradient(to right,#FF7A7A,#F65900);
  font-size: 1.5rem;
  font-weight: 400;
  color: #FFFFFF;
  border: none;
  border-radius: 6px;

}
.right-sec > img{
    width: 70%;
    margin: 200px 100px;

}
.flash-deals{
    padding: 70px 150px;
    display: flex;
    gap: 20px;
    
}

.flash-card > .image> img{
    width: 100%;
    border-radius: 16px;
}
.image{
    position: relative;
}
 .image> .discount {
    display: flex;
    position: absolute;
    background-color: #FFB30E;
    padding: 6px 20px;
    bottom: 2px;
     color: white;
    font-weight: bold;
    border-radius: 0px 16px;
    text-align: center;
    gap: 6px;
}
.image> .discount > .text >h1{
    font-size: 5.8rem;
}
.discount>  .percentage{
    text-align: center;
     font-size: 2.3rem;
     font-weight:400 ;
}
.discount>  .percentage >.per{
    font-weight: 700;
}
.badge{
    
}
.badge>h1{
    margin-top: 10px;
    font-size: 1.8rem;
}
.badge > .orn-text{
    margin-top:5px ;
    background-color: #F1722833;
    padding: 4px 0px;
    color: #F17228;
    margin-right: 50px;
    padding: 8px; ;
}
